<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="stdout" target="SYSTEM_OUT">
            <PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%level] %msg{nolookups}%n" />
        </Console>
    </Appenders>
    <Loggers>
        <Root level="WARN">
            <AppenderRef ref="stdout" />
        </Root>
        <Logger name="com.github.almightysatan.motdify" level="debug" additivity="false">
            <AppenderRef ref="stdout" />
        </Logger>
    </Loggers>
</Configuration>